In [1]:
import numpy as np
# import units as u
import numpy as np
import pandas as pd

import rasterio
from rasterio.plot import show_hist, show
import geopandas as gpd
import rasterstats
from shapely.geometry import shape

import plotly.graph_objects as go
from plotly.subplots import make_subplots
from matplotlib import pyplot as plt

from icecream import ic

In [17]:

iea_energy

      Source  Value (mtoe)
0  bioenergy           114
1        gas            15
2        oil            26

In [18]:
mtoe_to_mwh = 11.63 # mwh = 1 mtoe 
iea_energy["Value (mwh)"] = iea_energy["Value (mtoe)"]*mtoe_to_mwh

      Source  Value (mtoe)  Value (mwh)
0  bioenergy           114      1325.82
1        gas            15       174.45
2        oil            26       302.38

In [39]:
mtoe_to_mwh = 11.63 # mwh = 1 mtoe 
hours_per_year = 8760.0
mw_to_mwh = hours_per_year
kwh_to_mwh = 1/1000

iea_energy_arr = [
    ("bioenergy", 114),
    ("gas", 15),
    ("oil", 26),
    ("primary_energy_supply", 158.75)
] # Mtoe

kpmg_arr = [
    ("distribution", 4_094),
    ("gen_capacaity", 8_000)
] # MW 

world_data_arr = [
    ("energy_consumption", 24.61e9),
    ("gen_capacity", 29e9)
] # kwh



iea_energy = pd.DataFrame(iea_energy_arr, columns=["Source", "Value (mtoe)"])
iea_energy["Value (mwh)"] = iea_energy["Value (mtoe)"]*mtoe_to_mwh

kpmg = pd.DataFrame(kpmg_arr, columns=["Source", "Value (mw)"])
world_data = pd.DataFrame(world_data_arr, columns=["Source", "Value (kwh)"])


kpmg["Value (mwh)"] = kpmg["Value (mw)"]*mw_to_mwh
world_data["Value (mwh)"] = world_data["Value (kwh)"]*kwh_to_mwh

In [40]:
pd.set_option('display.float_format', lambda x: f'{x:,.0f}')

In [41]:
iea_energy

                  Source  Value (mtoe)  Value (mwh)
0              bioenergy           114        1,326
1                    gas            15          174
2                    oil            26          302
3  primary_energy_supply           159        1,846

In [32]:
kpmg

          Source  Value (mw)  Value (mwh)
0   distribution        4094   35,863,440
1  gen_capacaity        8000   70,080,000

In [33]:
world_data

               Source    Value (kwh)  Value (mwh)
0  energy_consumption 24,610,000,000   24,610,000
1        gen_capacity 29,000,000,000   29,000,000

In [45]:
def print_nice(float):
    print(f"{float:,.0f}")
    return

In [42]:
# https://www.iea.org/countries/nigeria
twh_to_mwh = 1e6
iea_consumption = 27.56 # twh 
iea_consumption_mwh =  iea_consumption *  twh_to_mwh
print(f"{iea_consumption_mwh:,.0f}")

# supports the data from world data, so use this...

27,560,000

In [46]:
# percentage with elect 
perc_elect = 55
elect_demand = (100/55)*iea_consumption_mwh
print_nice(elect_demand) # mwh

50,109,091